        <div class="footer">
            <hr>
            <center><p> Winimap	&copy; 2016 - Created by <a target="_blank" href="https://www.twitter.com/kerblaster">@kerblaster</a> - <a href="/about">About Winimap</a> </p></center>
        </div>
    </body>
</html>