<% include partials/header %>
    <!-- Jumbotron kinda -->
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1> What is Winimap? </h1>
                <p>
                    Help to find gamers around you!
                </p>
            </div>
        </header>
        <h3>How to contact me: </h3>
        <p>
            Facebook <br>
            Twitter <br>
            Email <br>
        </p>
    </div>
                
    
<% include partials/footer %>